@{
    ViewBag.Title = "Contact";
}
<div id="main">
    <script type="text/javascript" language="javascript" src="/Scripts/mailObfuscator.js"></script>
    <div class="spacer"></div>
    <div class="columnc">
        <img src="/Content/images/julie.jpg" alt="Julie" width="214" height="321" />
    </div>

    <div class="columnc">
        <h3>Julia Klarman Litwiller</h3>
        <p><b>(617)971-8636</b></p>
        <span id="mailTo"></span>
        <a href="https://www.facebook.com/juliaklarman"><img src="/Content/images/facebook-48.png" alt="facebook" /></a>


    </div>
    <div class="spacer"></div>

</div><!-- end main -->