
	
		<div id="slideshow">
			<div id="slideshow-inner">
			<script type="text/javascript">
			//Notes on Parameters: The only required parameter is the slides_array_name.  If Width is used, so must Height.
			//Interval is optional too.  It is always last, either fourth after Width and Height or second after Slides_array_name.
			//Usage: new inter_slide(Slides_array_name, Width, Height, Interval)
			new inter_slide(slides)
			</script>
			</div><!-- end slideshow inner -->
		</div><!-- end slideshow -->
	<!--<div id="icons"><a href="#"><img src="images/flickr.png" alt="Flickr" width="32" height="32" /></a>
					<a href="#"><img src="images/facebook.png" alt="Facebook" width="32" height="32" /></a>
					<a href="#"><img src="images/twitter.png" alt="Twitter" width="32" height="32" /></a></div><!-- end icons -->
	
