<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.juliaklarmanphotography.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w14.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>juliaklarmanphotography.com/</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>juliakla</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JKPhotoConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_65430_jkphoto;Integrated Security=False;Persist Security Info=True;User ID=DB_65430_jkphoto_user;Password=Farscape01" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_65430_jkphoto;Integrated Security=False;User ID=DB_65430_jkphoto_user;Password=Farscape01" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JKPhotoConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_65430_jkphoto;User ID=DB_65430_jkphoto_user;Password=Farscape01;Integrated Security=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-JKPhoto-20131005221402.mdf;Initial Catalog=aspnet-JKPhoto-20131005221402;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-JKPhoto-20131005221402;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-JKPhoto-20131005221402.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JKPhotoConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s08.winhost.com;Initial Catalog=DB_65430_jkphoto;Integrated Security=False;Persist Security Info=True;User ID=DB_65430_jkphoto_user;Password=Farscape01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>